//
//  Config-zhhz-debug.xcconfig
//  zhhz
//
//  Created by LeiXiang on 2022/1/4.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-zhhz/Pods-zhhz.debug.xcconfig"
Base_url = www.zhhz.debug.com
